<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    <strong>喂,刚刚点进来的时候名字下面的头像你偷看了吧?这么想看就让你看个够了(震声)</strong>
    <br>
    (这个主题貌似不适合写代码文章, 肥仔落泪)
    <!-- 自行配置公告内容结束 -->
</div>